{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-1">500</h1>
            <h2 class="mb-4">Server Error</h2>
            <p class="lead mb-5">Something went wrong on our servers. We're working to fix the issue.</p>
            <a href="/" class="btn btn-primary">Go Back To Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}